@import '../../index.scss';

.project {
  background: $peach;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 3em 0;
  border-bottom: 3px solid rgba(255,255,255,0.4);
  @media(max-width: $medium) {
    padding: 3em;
  }
}

.project__content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  @media(max-width: $medium) {
    max-width: 325px;
  }
}

.project__title {
  font-size: 23px;
  margin-bottom: 0;
  color: black;
}

.project__sub-title {
  color: $gray;
  font-family: $font-family-2;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  margin-top: 0.1em;
  margin-bottom: 0; 
}

.project__description {
  font-family: $font-family-2;
  font-size: 14px;
}

.project__image {
  height: 14em;
  max-width: 20em;
  background: white;
  padding: 0.5em;
  box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
  margin-left: 3em;
  transition: all 0.2s;
  @media(max-width: $medium) {
    transform: scale(0.8);
    margin-left: 0em;
  }
}

.project__image--left {
  order: -1;
  margin-right: 3em;
  margin-left: 0;
  @media(max-width: $medium) {
    margin-right: 0em;
  }  
}

.project__button {
  padding: 10px 20px;
  font-size: 1em;
  color: $peach;
  cursor: pointer;
  background: black;
  width: 9em;
  font-weight: 700;
  box-shadow: 3px 7px 20px rgba(117,81,125,0.2);
  transition: color 0.3s;

  &:hover {
    color: darken($peach, 20);
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.project__not-available {
  color: $gray;
  font-style: italic;
}