html {
  background: white; }

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "sans-serif"; }

@keyframes hover {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  20% {
    -webkit-transform: translate(-3px, 9px);
    -moz-transform: translate(-3px, 9px);
    -o-transform: translate(-3px, 9px);
    -ms-transform: translate(-3px, 9px);
    transform: translate(-3px, 9px); }
  40% {
    -webkit-transform: translate(0px, -8px);
    -moz-transform: translate(0px, -8px);
    -o-transform: translate(0px, -8px);
    -ms-transform: translate(0px, -8px);
    transform: translate(0px, -8px); }
  60% {
    -webkit-transform: translate(4px, 7px);
    -moz-transform: translate(4px, 7px);
    -o-transform: translate(4px, 7px);
    -ms-transform: translate(4px, 7px);
    transform: translate(4px, 7px); }
  80% {
    -webkit-transform: translate(-5px, -8px);
    -moz-transform: translate(-5px, -8px);
    -o-transform: translate(-5px, -8px);
    -ms-transform: translate(-5px, -8px);
    transform: translate(-5px, -8px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@keyframes textShadow {
  0% {
    text-shadow: -3px -3px 7px #ef9816, -6px -6px 7px #dd94c0; }
  50% {
    text-shadow: 3px 3px 8px #dd94c0, 6px 6px 8px #dd94c0; }
  100% {
    text-shadow: -3px -3px 7px #ef9816, -6px -6px 7px #dd94c0; } }

.header {
  position: absolute;
  top: 4%;
  display: flex;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%); }

.header__link {
  cursor: pointer;
  font-size: 20px;
  margin: 0 0.75em;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s; }
  .header__link::after {
    content: '';
    display: block;
    height: 0px;
    background: #dd94c0;
    transition: height 0.2s; }
  .header__link:hover::after {
    height: 4px; }

.header__link--template-1 {
  color: white; }

.header__link--template-2 {
  color: white;
  text-shadow: 3px 3px 10px black;
  font-family: montserrat; }
  .header__link--template-2::after {
    content: '';
    display: block;
    height: 0px;
    background: #ef9816;
    transition: height 0.2s; }
  .header__link--template-2:hover::after {
    height: 4px; }

.header__link--template-3 {
  color: black; }

.header__link--template-4 {
  color: black;
  font-family: montserrat; }

.home {
  align-items: center;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  animation: fadeIn 2s;
  z-index: 10;
  position: relative; }

.home--template-1 {
  background: black; }

.home--template-2 {
  background: #dd94c0; }

.home--template-3 {
  background: #ef9816; }

.home--template-4 {
  background: #50E3C2; }

.home__header--wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.home__header {
  color: black;
  margin: 0;
  opacity: 0.9;
  font-family: "Lato", "sans-serif";
  font-size: 45px;
  letter-spacing: 0.2ch;
  transition: all 0.8s; }
  @media (max-width: 600px) {
    .home__header {
      font-size: 35px; } }
  .home__header:hover {
    text-shadow: -1px -1px #ef9816, -2px -2px #ef9816, -3px -3px #ef9816, -4px -4px #ef9816, 1px 1px #dd94c0, 2px 2px #dd94c0, 3px 3px #dd94c0, 4px 4px #dd94c0; }

.home__header--template-1 {
  color: white;
  font-weight: 300; }

.home__header--template-2 {
  color: white;
  text-shadow: -1px -1px #ef9816, -2px -2px #ef9816, -3px -3px #ef9816, -4px -4px #ef9816, 1px 1px #dd94c0, 2px 2px #dd94c0, 3px 3px #dd94c0, 4px 4px #dd94c0; }

.home__header--template-3 {
  text-shadow: -1px -1px #ef9816, -2px -2px #ef9816, -3px -3px #ef9816, -4px -4px #ef9816, 1px 1px #dd94c0, 2px 2px #dd94c0, 3px 3px #dd94c0, 4px 4px #dd94c0; }

.home__header--template-4 {
  font-weight: 700; }

.home__sub-header {
  color: #646464;
  font-family: "Montserrat", "sans-serif";
  margin-top: 0.25em;
  font-weight: 100;
  transition: all 0.3s; }

.home__sub-header--template-1 {
  color: white; }

.home__sub-header--template-2 {
  color: black;
  font-family: montserrat;
  letter-spacing: 0.4ch;
  padding: 1em; }

.home__sub-header--template-3 {
  color: white; }

.home__sub-header--template-4 {
  color: white;
  letter-spacing: 0.4ch;
  padding: 1em;
  font-family: montserrat; }

.home__header-triangle {
  filter: drop-shadow(18px 12px 35px rgba(0, 0, 0, 0.4));
  transition: filter 0.3s;
  animation: hover 15s infinite; }
  .home__header-triangle:focus, .home__header-triangle:active, .home__header-triangle:hover {
    filter: drop-shadow(6px 1px 10px rgba(0, 0, 0, 0.6));
    animation-play-state: paused; }
