@import '../../index.scss';

.header {
  position: absolute;
  top: 4%;
  display: flex;
  font-family: $font-family-1;
  font-weight: 700;
}

.header__link {
  cursor: pointer;
  font-size: 20px;
  margin: 0 0.75em;
  color: rgba(0,0,0,0.8);
  transition: text-shadow 0.3s;
    text-shadow: -1px -1px $color1, -2px -2px $color1, -3px -3px 3px $color1;
  
  &:hover {
    text-shadow: 1px -1px $color2, 2px -2px $color2, 3px -3px 3px $color2;
  }
}