$mint-green: #50E3C2;
$peach: #ffeddb;
$gray: #4A4A4A;
$color2: #ef9816;
$color1: #dd94c0;
$font-family-1: 'Lato', 'sans-serif';
$font-family-2: 'Montserrat', 'sans-serif';
$medium: 768px;
$small: 600px;
html {
 background: white;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-family-1;
}
